$color: steelblue;

.my-flix {
  color: $color;
}

body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
}

.MovieCard {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
}